body {
    margin: 0;
}

.scroll {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
}

.fake-body {
    overflow: scroll;
    height: 100vh;
}

.header {
    height: 200px;
    position: fixed;
    background: black;
    width: calc(100% - 15px);
}

.header-inner {
    width: calc(900px - 75px - 75px);
    margin: auto;
    position: relative;
}

.header .image {
    border: 10px solid white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    transform: translate(200px, 50px);
    background: url('../media/houdini.png') 50% 50%;
    background-size: cover;
}

.header .title {
    position: absolute;
    top: -200px;
    left: 20px;
    color: white;
    font-family: sans-serif;
}

.content {
    width: 900px;
    padding: 400px 20px 20px;
    margin: auto;
    font: 14px/20px sans-serif;
    text-align: justify;
}

.content .footer {
    text-align: right;
    font-style: italic;
}